/* Author:Afolayan Moruf
Github:iamafolayanmoruf
Twitter:Kakamoruye1 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container img{
    width: 210px;
}
#nav-one{
    background:rgb(255, 255, 255) ;
    box-shadow: 0px 4px 4px rgb(0 0 0/15%);
}
.container #list li{
    display: inline;
}
.container #list li a{
    text-decoration: none;
    margin: 10px;
    color: black;
}
.container #list li a:hover{
    color: rgb(242, 147, 44);
}

section{
    height: 100vh;
    background: rgb(255, 249, 245);
}
#two h2{
    width: 70%;
    padding-top: 260px;
    font-size: 40px;
    font-weight: 700;
}
#two img{
    width: 100%;
    margin-top: 15%;
    margin-left: -10%;
}
#two p{
    width: 80%;
    font-size: 18px;
    padding-top: 20px;
}
.flexx{
    display: flex !important;
}
.grid{
    display: flex;
}
.three{
    height: 80vh;
    background: white;
}
#two button{
    border: none;
    width: 12%;
    height: 35px;
    color: white;
    background-color: rgb(237, 126, 44);
    border-radius: 10px;
    margin-top: 20px;
}
.box{
    display: flex;
    width: 85%;
    height: 75px;
    margin-left: 8%;
    border: 2px solid whitesmoke;
}
.box h1{
    font-size: 25px;
    margin-top: 20px ;
}
.con{
    margin-left: 15%;
    margin-top: 1%;
}
.con h2{
    font-size: 15px;
    margin-left: 45%;
}
.con h3{
    font-size: 15px;
}
.text h1{
    padding-top: 15%;
    padding-left: 10%;
    font-size: 30px;
    font-weight: 700;
}
.text p{
    width: 60%;
    padding-left: 10%;
    padding-top: 3%;
    font-size: 20px;
}
.imaa img{
    width: 160%;
    margin-left: -150%;
    margin-top: 20%;
}
.four{
    height: 80vh;
    background-image: url(./Image/Rectangle10.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.four h1{
    text-align: center;
    color: white;
    padding-top: 5%;
}
.first{
    display: flex;
}
.first h2 {
    color: white;
    width: 40%;
    margin-left: 9%;
    margin-top: 2%;
    font-size: 30px;
}
.first p {
    color: white;
    width: 40%;
    margin-top: 2%;
}
.cards{
    display: flex;
}
.card{
    width: 15%;
    height: 30%;
    margin-left: 9%;
    margin-top: 3%;
    border: 1px solid white;
    border-radius: 10px;
    background: none;
}
.card-img-top{
    width: 45%;
    margin-left: 30%;
    margin-top: 10%;
}
.card p{
    color: white;
    margin-left: 25%;
}
.five{
    height: 110vh;
    background: white;
}
.five h1{
    text-align: center;
    padding-top: 2%;
    font-weight: 700;
}
.five p{
    text-align: center;
    font-size: 20px;
}
.cardss{
    display: flex;
    margin-left: 5%;
}
.ourcard{
    width: 30%;
    height: 620px;
    background: none;
    border-radius: 15px;
    box-shadow: 2px 1px 4px;
    margin-left: 2%;
    margin-top: 5%;
}
.ourcard img{
    width: 100%; 
}
.card-bodyy h2{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.card-bodyy p{
    font-size: 14px;
    width: 95%;
    margin-top: 20px;
    margin-left: 10px;
    text-align: start;
}
.butt button{
    color: white;
    margin-left: 10px;
    margin-top: px;
    border: none;
    width: 23%;
    height: 30px;
    background: rgb(108, 117, 125);
    border-radius: 10px;
}
#b{
    margin-top: 20px;
}
#bu{
    margin-top: 42px;
}
#but{
    margin-top: 42px;
}
.six{
    height: 100vh;
    background: white;
}
.six h1{
    text-align: center;
    font-size: 20px;
}
.ima img{
    margin-left: 27%;
    margin-top: 15%;
}
.flexxx{
    display: flex;
    margin-top: 30px;
    
}
.first-im{
    margin-left: 7%;
    /* width: 40%; */
}
.row{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    
}
#secc{
    width: 100%;
}
#th{
    width: 100%;
    margin-top: 18px;
}
#last{
    margin-top: 4%;
}
.seven{
    height: 70vh;
    background: white;
}
.seven h1{
    text-align: center;
    font-size: 25px;
}
.coon{
    width: 25%;
    height: 240px;
    border-radius: 10px;
    margin-left:20px;
    margin-top: 80px;
    border: 1px solid rgb(210, 210, 210);
}
#left{
    margin-left: 6%;
}


.con-text p{
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
    font-size: 13px;
}
.person{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgb(255, 206, 171);
    margin-left: 15px;
    margin-top: 30px;
}
.person img{
    margin-left: 9px;
    margin-top: 7px;
    width: 70%;
}
#ade{
    margin-top: 30px;
    width: 100%;
    margin-left: 20px;
}
.icon{
    font-size: 20px;
    margin-left: 17px;
    margin-top: -10px;
    color: rgb(232, 123, 32);
}
#see{
    width: 100%;
}
#down{
    margin-top: 35px;
}
#secd{
    margin-top: 20px;
}

 .eight{
    height: 80vh;
    background: white;
}
.eight h3{
    text-align: center;
    font-weight: 700;
}
.trend{
    display: flex;
    width: 40%;
    height: 405px;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 70px;
    border: 1px solid rgb(108, 117, 125);
}
.trend-text h5{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 50px;
}
.trend-text p{
    margin-left: 15px;
}
.buut{
    background: white;
    margin-left: 15px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid rgb(242, 147, 44);
}
#trend-fl{
    margin-left: 2%;
}

#buttt{
    margin-top: 45px;
}
footer{
    height: 60vh;
    background-color: rgb(33, 40, 59);
}
.order{
    padding-top: 10%;
}
.container .order {
    display: flex;
    color: white;
}
ul p{
    width: 50%;
}
.container .order li {
    display: flex;
}
#s{
    margin-left: -10%;
}
#s li a{
    text-decoration: none;
    color: white;
}
ul h3{
    line-height: 40px;
}
#t{
    margin-left: 50px;
}
#t li a{
    text-decoration: none;
    color: white;
}
#fh{
    margin-left: 50px;
}
#fh li a {
    text-decoration: none;
    color: white;

}
h6{
    color: white;
    text-align: center;
    margin-top: 60px;
}
h6 span{
    color: rgb(234, 99, 14);
}

@media screen and (max-width: 768px){
    .container #list li{
        display: flex !important;
    }
    .container img{
        width: 150px;
    }
    .container #list li a{
        margin-left: -20px !important;
        margin: 5px;
    }
    #two img{
        margin: 0 !important;
    }
    #two h2{
        padding: 0 !important;
        width: 100%;
        font-size: 25px;
        padding-top: 20px !important;
    }
    #two p{
        width: 100%;
        font-size: 15px;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    #two button{
        width: 30%;
    }
    .box h1{
        width: 200px;
        font-size: 15px;
        margin-top: -1px;
        /* margin-left: 20px !important; */
    }
    .box{
        margin: 0 !important;
        /* margin-left: 10px !important; */
        width: 100%;
    }
    .con h3{
        margin-left: -400%;
        font-size: 12px;
    }
    .con h2{
        margin-top: 20px;
        margin-left: -330%;
    }
    .three{
        height: 100vh;
    }
    .flexx-g{
        display: flex;
        flex-direction: column;
    }
    .imaa img{
        margin: 0 !important;
        width: 90%;
        margin-left: 20px !important;
        margin-top: 20px !important;
    }
    .text h1{
        padding: 0% !important;
        width: 100%;
        font-size: 20px;
        margin-left: 10px;
        padding-top: 20px !important;
    }
    .text p{
        width: 90%;
        font-size: 15px;
        padding: 0 !important;
        padding-left: 10px !important;
    }
    .four{
        /* display: none; */
        height: 160vh;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .first{
        display: flex;
        flex-direction: column;
    }
    .first h2{
        margin: 0 !important;
        width: 100%;
        margin-left: 10px !important;
    }
    .first p{
        width: 90%;
        margin-left: 10px;
        margin-top: 20px !important;
    }
    .card{
        width: 50%;
        margin: 0 !important;
        margin-left: 25% !important;
        margin-top: 50px !important;
    }
    .five{
        /* display: none; */
        height: 280vh;
    }
    .five h1{
        padding: 0 !important;
        padding-top: 50px !important;
    }
    .five p{
        font-size: 15px;
        width: 100%;
    }
    .cardss{
        display: flex;
        flex-direction: column;
    }
    .ourcard{
        width: 90%;
        height: 545px;
    }
    #but{
        margin-top: -0px !important;
    }
    .six{
        /* display: none; */
        height: 270vh;
    }
    .flexxx{
        display: flex;
        flex-direction: column;
    }
    .first-im{
        margin: 0 !important;
        width: 30%;
        margin-left: 5px !important;
    }
    .row{
        margin: 0 !important;
        margin-left: 5px !important;
        margin-top: 10px !important;
    }
    .seven{
        /* display: none; */
        height: 150vh;
    }
    .coon{
        width: 80%;
        margin: 0 !important;
        margin-left: 43px !important;
        margin-top: 40px !important;
    }
    .person{
        margin: 0 !important;
        margin-top: 20px !important;
        margin-left: 20px !important;
    }
    .icon{
        margin: 0 !important;
        margin-top: -10% !important;
        margin-left: 10px !important;
    }
    .ade{
        display: flex;
        flex-direction: row;
    }
    #see{
        width: 95%;
    }
    #mm{
        margin-top: -20px !important;
    }
    #mmm{
        margin-top: -1px !important;
    }
    .eight{
        /* display: none; */
        height: 280vh;
    }
    .trend{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 910px;
        margin-left: 0 !important;
        margin-left: 16px !important;
    }
    .trend-text p{
        width: 90%;
    }
    .trend-image img{
        width: 100%;
    }
    footer{
        /* display: none; */
        height: 100vh;   
    }
    .container .order{
        display: flex;
        flex-direction: column;
    }
    ul p{
        width: 90%;
    }
    .container img{
      width: 200px;  
    }
    #s{
        margin: 0 !important;
    }
    #t{
        margin: 0 !important;
    }
    #fh{
        margin: 0 !important;
    }

 

}

